/* variables */
	:root {
		--medium-purple:#603473;
		--dark-purple:#251840;
		--dark-teal:#16808C;
		--medium-teal:#1BA698;
		--light-teal:#1BBFA1;

		--font-main: "Roboto Condensed", sans-serif;
		--font-handwriting: "Caveat", cursive;
		--font-size-large: 60px;
		--font-size-medium: 30px;
		--font-size-small: 20px;
		
		--line-height: 1.5;
		--border-size: 2px;
		--border-radius: 10px;
		--shadow-size: 5px;
		--gap-size-large: 20px;
		--gap-size-medium: 10px;
		--gap-size-small: 5px;
		--transition-time: 0.5s;
		--stream-height: 200px;
		--about-height: 300px;
		--about-column-width: 250px;
		--tab-width: 350px;
	}

/* PAGE */
	html, body {
		margin: 0;
		padding: 0;
		height: 100%;
		width: 100%;
		background-color: var(--medium-teal);
		font-size: 0;
		overflow-x: hidden;
	}

	section {
		width: 100%;
		height: auto;
		box-sizing: border-box;
	}

/* HEADER */
	#header {
		background-color: var(--dark-teal);	
	}

		#name {
			width: 100%;
			height: calc(var(--font-size-large) + 2 * var(--gap-size-large));
			text-align: center;
			box-sizing: border-box;
			padding: var(--gap-size-large);
		}

			#name-button {
				background: transparent;
				border: none;
				font-family: var(--font-handwriting);
				font-size: var(--font-size-large);
				height: var(--font-size-large);
				color: var(--dark-purple);
				cursor: pointer;
				transition: var(--transition-time);
				outline: none;
				padding: 0;
			}

				#name-button:hover, #name-button:focus {
					text-shadow: 0 0 var(--shadow-size) var(--medium-purple);
					color: var(--medium-purple);
				}

		#about {
			width: 100%;
			height: var(--about-height);
			overflow: hidden;
			transition: var(--transition-time);
		}

		#header[collapsed] #about {
			height: 0;
		}

		/* ??? TO DO ??? */
		/* - hide about images on mobile */
		/* - column -> row for about links on mobile */
		/* - 100% widths on mobile */
		/* - auto height on mobile */
		/* - fix filter bar padding on mobile */

			#about-images, #about-links {
				display: inline-flex;
				flex-direction: column;
				width: var(--about-column-width);
				height: 100%;
				padding: var(--gap-size-large);
				box-sizing: border-box;
				text-align: center;
				vertical-align: top;
				justify-content: space-between;
			}

			#about-description {
				display: inline-flex;
				width: calc(100% - 2 * var(--about-column-width));
				height: 100%;
				padding: var(--gap-size-large);
				box-sizing: border-box;
				font-family: var(--font-main);
				color: var(--dark-purple);
				font-size: var(--font-size-small);
				text-align: justify;
				line-height: var(--line-height);
				vertical-align: top;
				margin: 0;
			}

			#about-images img {
				display: flex;
				margin: auto auto;
				width: calc(1.25 * var(--font-size-large));
				height: auto;
				border-radius: var(--border-radius);
			}

			#about-links a, #about-links a:visited {
				display: block;
				width: 100%;
				height: var(--font-size-medium);
				line-height: var(--line-height);
				text-align: center;
				font-size: var(--font-size-medium);
				cursor: pointer;
				outline: none;
				user-select: none;
				text-decoration: none;
			}

				#about-links a svg, #about-links a:visited svg {
					transition: var(--transition-time);
					fill: var(--dark-purple);
				}

				#about-links a:hover svg, #about-links a:focus svg {
					filter: drop-shadow(0 0 var(--shadow-size) var(--medium-purple));
					fill: var(--medium-purple);
				}

		#filters {
			width: 100%;
			padding: var(--gap-size-small) var(--gap-size-small) 0 var(--gap-size-small);
			height: calc(var(--font-size-large) + 3 * var(--gap-size-small));
			box-sizing: border-box;
			text-align: center;
		}

			#filters-medium-form {
				width: var(--tab-width);
				height: calc(var(--font-size-large) + 2 * var(--gap-size-small));
				box-sizing: border-box;
				padding: 0 var(--gap-size-small) 0 var(--gap-size-small);
				display: inline-block;
				vertical-align: top;
				border-radius: var(--border-radius) var(--border-radius) 0 0;
				background-color: var(--medium-teal);
			}

				#filters-medium {
					width: 100%;
					font-size: var(--font-size-large);
					height: calc(var(--font-size-large) + 2 * var(--gap-size-small));
					box-sizing: border-box;
					padding: 0 var(--gap-size-small) 0 var(--gap-size-small);
					border-radius: var(--border-radius) var(--border-radius) 0 0;
					border: none;
					font-family: var(--font-handwriting);
					color: var(--dark-purple);
					background-color: var(--medium-teal);
					cursor: pointer;
					outline: none;
					transition: var(--transition-time);
					display: inline-block;
					vertical-align: top;
					text-align: center;
				}

					#filters-medium:hover, #filters-medium:focus {
						color: var(--medium-purple);
						text-shadow: 0 0 var(--shadow-size) var(--medium-purple);
					}

			#filters-of-outer {
				height: calc(var(--font-size-large) + 2 * var(--gap-size-small));
				box-sizing: border-box;
				padding: var(--gap-size-small);
				display: inline-block;
				vertical-align: top;
			}

				#filters-of-inner {
					font-size: var(--font-size-medium);
					height: calc(var(--font-size-medium) + 4 * var(--gap-size-small));
					width: calc(var(--font-size-medium) + 4 * var(--gap-size-small));
					font-family: var(--font-handwriting);
					color: var(--dark-purple);
					background-color: var(--medium-teal);
					border-radius: 50%;
					user-select: none;
					pointer-events: none;
					text-align: center;
					margin: var(--gap-size-small);
					line-height: var(--line-height);
				}

			#filters-topic-form {
				width: var(--tab-width);
				height: calc(var(--font-size-large) + 2 * var(--gap-size-small));
				box-sizing: border-box;
				padding: var(--gap-size-small) var(--gap-size-small) 0 var(--gap-size-small);
				display: inline-block;
				vertical-align: top;
				border-radius: var(--border-radius) var(--border-radius) 0 0;
				background-color: var(--medium-teal);
			}

				#filters-search {
					height: 100%;
					width: calc(100% - (var(--font-size-large) + 2 * var(--gap-size-small)));
					border: none;
					background-color: var(--medium-teal);
					border-radius: calc(var(--border-radius) / 2);
					padding: var(--gap-size-small) calc(var(--font-size-medium) * 1.5) var(--gap-size-small) var(--gap-size-small);
					font-size: var(--font-size-large);
					color: var(--dark-purple);
					font-family: var(--font-handwriting);
					outline: none;
					transition: var(--transition-time);
					box-sizing: border-box;
					line-height: var(--line-height);
					text-align: center;
				}

					#filters-search:hover, #filters-search:focus {
						color: var(--medium-purple);
						box-shadow: 0 0 var(--shadow-size) var(--medium-purple);
					}

					#filters-search[disabled] {
						box-shadow: none !important;
						cursor: default;
						color: var(--dark-purple) !important;
						width: 100%;
						padding-right: var(--gap-size-small);
					}

				#filters-search:placeholder-shown ~ #filters-clear {
					opacity: 0;
					pointer-events: none;
				}

				#filters-clear {
					opacity: 1;
 					font-size: calc(var(--font-size-medium) * 1.5);
					font-family: var(--font-main);
					background: transparent;
					cursor: pointer;
					outline: none;
					border: none;
					transition: var(--transition-time);
					color: var(--dark-purple);
					padding: 0;
					position: relative;
 					height: calc(var(--font-size-medium) * 1.5);
 					width: calc(var(--font-size-medium) * 1.5);
 					margin-left: calc(-1.5 * var(--font-size-medium));
					z-index: 2;
					line-height: var(--line-height);
				}

				#filters-submit {
					height: calc(var(--font-size-large) + var(--gap-size-small));
					width: calc(var(--font-size-large) + 2 * var(--gap-size-small));
					box-sizing: border-box;
					font-size: var(--font-size-medium);
					text-align: center;
					padding: var(--gap-size-small) var(--gap-size-small) 0 var(--gap-size-small);
					border: none;
					background: transparent;
					cursor: pointer;
					outline: none;
					transition: var(--transition-time);
					vertical-align: top;
				}

					#filters-submit svg, #filters-submit:visited svg {
						transition: var(--transition-time);
						fill: var(--dark-purple);
					}

					#filters-submit:hover svg, #filters-submit:focus svg {
						filter: drop-shadow(0 0 var(--shadow-size) var(--medium-purple));
						fill: var(--medium-purple);
					}

					#filters-submit[disabled] {
						cursor: default;
						opacity: 0;
						width: 0;
						padding: 0;
					}

				#filters-topic {
					display: none;
				}

/* CONTENT */
	#content {
		transition: var(--transition-time);
		min-height: calc(100% - (var(--font-size-large) + 2 * var(--gap-size-large)) - var(--about-height) - (var(--font-size-large) + 3 * var(--gap-size-small)) - var(--stream-height) - (var(--font-size-small) + 2 * var(--gap-size-small)));
	}

		#header[collapsed] ~ #content {
			min-height: calc(100% - (var(--font-size-large) + 2 * var(--gap-size-large)) - (var(--font-size-large) + 3 * var(--gap-size-small)) - var(--stream-height) - (var(--font-size-small) + 2 * var(--gap-size-small)));
		}

/* FOOTER */
	#footer {
		background-color: var(--dark-teal);
	}

		#stream {
			background-color: var(--light-teal);
			width: 100%;
			height: var(--stream-height);
		}

		#copyright {
			width: 100%;
			height: calc(var(--font-size-small) + 2 * var(--gap-size-small));
			text-align: center;
			font-family: var(--font-main);
			color: var(--dark-purple);
			font-size: var(--font-size-small);
			user-select: none;
			padding: var(--gap-size-small);
			box-sizing: border-box;
		}


