/* variables */
	:root {
		--medium-purple:#603473;
		--dark-purple:#251840;
		--translucent-dark-purple: rgba(37, 24, 64, 0.2);
		--dark-teal:#16808C;
		--medium-teal:#1BA698;
		--light-teal:#1BBFA1;
		--white: #ffffff;
		--black: #000000;

		--font-main: "Roboto Condensed", sans-serif;
		--font-handwriting: "Caveat", cursive;
		--font-size-large: 60px;
		--font-size-medium: 30px;
		--font-size-small: 20px;
		
		--line-height: 1.5;
		--border-size: 2px;
		--border-radius: 10px;
		--shadow-size: 5px;
		--gap-size-large: 20px;
		--gap-size-medium: 10px;
		--gap-size-small: 5px;
		--transition-time: 0.5s;
		--stream-height: 0px;
		--about-width: 1000px;
		--tab-width: 350px;
	}

	@media screen and (min-width: 1501px) {
		:root {
			--cards-per-row: 5;
		}
	}

	@media screen and (max-width: 1500px) {
		:root {
			--cards-per-row: 3;
		}
	}

	@media screen and (max-width: 1000px) {
		:root {
			--cards-per-row: 1;
		}
	}

/* PAGE */
	html, body {
		margin: 0;
		padding: 0;
		height: 100%;
		width: 100%;
		background-color: var(--medium-teal);
		font-size: 0;
		overflow: hidden;
	}

	section {
		width: 100%;
		height: auto;
		box-sizing: border-box;
	}

/* HEADER */
	#header {
		background-color: var(--dark-teal);
		position: sticky;
		top: 0;
		z-index: 10;
	}

		#name {
			width: 100%;
			height: calc(var(--font-size-large) + 2 * var(--gap-size-large));
			text-align: center;
			box-sizing: border-box;
			padding: var(--gap-size-large);
		}

			#name-button {
				background: transparent;
				border: none;
				font-family: var(--font-handwriting);
				font-size: var(--font-size-large);
				height: var(--font-size-large);
				color: var(--dark-purple);
				cursor: pointer;
				transition: var(--transition-time);
				outline: none;
				padding: 0;
			}

				#name-button:hover, #name-button:focus {
					text-shadow: 0 0 var(--shadow-size) var(--medium-purple);
					color: var(--medium-purple);
				}

		#header[collapsed] #about {
			height: 0;
		}

		#about {
			width: auto;
			max-width: var(--about-width);
			margin: auto;
			overflow: hidden;
			height: calc(100vh - (var(--font-size-large) + 2 * var(--gap-size-large)) - (var(--gap-size-large) * 2) - (var(--font-size-large) + 2 * var(--gap-size-small)) - var(--stream-height) - (var(--font-size-small) + 2 * var(--gap-size-small)));
			transition: var(--transition-time);
		}

			#about-links, #about-images {
				height: auto;
				width: 100%;
				padding: var(--gap-size-large);
				box-sizing: border-box;
				text-align: center;
				vertical-align: top;
				display: flex;
				flex-direction: row;
			}

				#about-links a, #about-links a:visited {
					display: block;
					width: 100%;
					height: var(--font-size-medium);
					line-height: var(--line-height);
					text-align: center;
					font-size: var(--font-size-medium);
					cursor: pointer;
					outline: none;
					user-select: none;
					text-decoration: none;
				}

					#about-links a svg, #about-links a:visited svg {
						transition: var(--transition-time);
						fill: var(--dark-purple);
					}

					#about-links a:hover svg, #about-links a:focus svg {
						filter: drop-shadow(0 0 var(--shadow-size) var(--medium-purple));
						fill: var(--medium-purple);
					}

			#about-description {
				width: calc(100% - 2 * var(--gap-size-large));
				height: calc(100% - var(--font-size-medium) - var(--gap-size-large) * 4 - var(--font-size-large) * 3);
				padding: var(--gap-size-medium) 0;
				box-sizing: border-box;
				font-family: var(--font-main);
				color: var(--dark-purple);
				font-size: var(--font-size-small);
				text-align: justify;
				line-height: var(--line-height);
				vertical-align: top;
				margin: 0 var(--gap-size-large);
				border: var(--border-size) solid var(--dark-purple);
				border-radius: var(--border-radius) !important;
				overflow: hidden;
			}

				#about-description-inner {
					box-sizing: border-box;
					width: 100%;
					height: 100%;
					padding: var(--gap-size-medium) var(--gap-size-large);
					overflow-x: hidden;
					overflow-y: auto;
					scrollbar-color: var(--dark-purple) transparent;
					outline: none;
				}

					#about-description-inner::-webkit-scrollbar {
						background-color: transparent;
						width: var(--gap-size-medium);
					}

					#about-description-inner::-webkit-scrollbar-thumb {
						background-color: var(--dark-purple);
						border-radius: var(--border-radius);
						border: var(--border-size) solid var(--dark-teal);
					}

				#about-description p {
					width: calc(100% + var(--gap-size-medium));
					margin: 0 0 var(--font-size-medium) 0;
				}

				#about-description p:last-child {
					margin-bottom: 0;
				}

			#about-images img {
				display: flex;
				margin: auto auto;
				width: calc(3 * var(--font-size-large));
				height: auto;
				border-radius: var(--border-radius);
			}

		#filters {
			width: 100%;
			padding: 0;
			height: calc(var(--font-size-large) + 2 * var(--gap-size-small) + var(--gap-size-large));
			box-sizing: border-box;
			text-align: center;
			filter: drop-shadow(0 calc(-1 * var(--shadow-size)) calc(var(--shadow-size) / 2) var(--translucent-dark-purple));
		}

			#filters-medium-form {
				width: var(--tab-width);
				height: calc(var(--font-size-large) + 2 * var(--gap-size-small));
				box-sizing: border-box;
				padding: 0;
				display: inline-block;
				vertical-align: top;
				border-radius: var(--border-radius) var(--border-radius) 0 0;
				background-color: var(--medium-teal);
			}

				#filters-medium-current {
					width: 100%;
					font-size: var(--font-size-large);
					height: calc(var(--font-size-large) + 2 * var(--gap-size-small));
					box-sizing: border-box;
					padding: 0 var(--gap-size-small) 0 var(--gap-size-small);
					border-radius: var(--border-radius) var(--border-radius) 0 0;
					border: none;
					font-family: var(--font-handwriting);
					color: var(--dark-purple);
					background-color: var(--medium-teal);
					cursor: pointer;
					outline: none;
					transition: var(--transition-time);
					display: inline-block;
					vertical-align: top;
					text-align: center;
					user-select: none;
				}

					#filters-medium-current::selection {
						background: transparent !important;
					}

					#filters-medium-current::-moz-selection {
						background: transparent !important;
					}

					#filters-medium-form::before {
						content: "▾";
						height: 0;
						width: 0;
						margin-left: calc(100% - var(--font-size-medium));
						float: left;
						position: relative;
						color: var(--dark-teal);
						font-family: var(--font-main);
						font-size: var(--font-size-medium);
						line-height: 2.5;
						transition: var(--transition-time);
						pointer-events: none;
					}

					#filters-medium-current:hover, #filters-medium-current:focus {
						color: var(--medium-purple);
						text-shadow: 0 0 var(--shadow-size) var(--medium-purple);
					}

				#filters-medium-form:not(:focus-within) #filters-medium-options {
					display: none;
				}

				#filters-medium-form:focus-within::before, #filters-medium-form:hover::before {
					color: var(--medium-purple);
					text-shadow: 0 0 var(--shadow-size) var(--medium-purple);
				}

				#filters-medium-options {
					width: 100%;
					height: auto;
					background-color: var(--medium-teal);
					box-sizing: border-box;
					padding: var(--gap-size-small);
					border-radius: 0 0 var(--border-radius) var(--border-radius);
					box-shadow: 0 var(--shadow-size) var(--shadow-size) var(--dark-purple);
				}

					.filter-medium-suggestion {
						width: 100%;
						background-color: var(--white);
						color: var(--dark-teal);
						font-family: var(--font-handwriting);
						font-size: calc(var(--font-size-medium));
						padding: 0 var(--gap-size-small) 0 var(--gap-size-small);
						border-radius: 0;
						border-style: solid;
						border-color: var(--medium-teal);
						outline: none;
						cursor: pointer;
						transition: var(--transition-time);
						text-align: right;
					}

						.filter-medium-suggestion:last-child {
							border-radius: 0 0 calc(var(--border-radius) / 2) calc(var(--border-radius) / 2);
						}

						.filter-medium-suggestion:focus, .filter-medium-suggestion:hover {
							background-color: var(--medium-teal);
							color: var(--medium-purple);
						}

			#filters-of-outer {
				height: calc(var(--font-size-large) + 2 * var(--gap-size-small));
				box-sizing: border-box;
				padding: var(--gap-size-small);
				display: inline-block;
				vertical-align: top;
			}

				#filters-of-inner {
					font-size: var(--font-size-medium);
					height: calc(var(--font-size-medium) + 4 * var(--gap-size-small));
					width: calc(var(--font-size-medium) + 4 * var(--gap-size-small));
					font-family: var(--font-handwriting);
					color: var(--dark-purple);
					background-color: var(--medium-teal);
					border-radius: 50%;
					user-select: none;
					pointer-events: none;
					text-align: center;
					margin: var(--gap-size-small);
					line-height: var(--line-height);
				}

			#filters-topic-form {
				width: var(--tab-width);
				height: calc(var(--font-size-large) + 2 * var(--gap-size-small));
				box-sizing: border-box;
				padding: var(--gap-size-small) 0 0 0;
				display: inline-block;
				vertical-align: top;
				border-radius: var(--border-radius) var(--border-radius) 0 0;
				background-color: var(--medium-teal);
			}

				#filters-search {
					height: 100%;
					width: calc(100% - 2 * var(--gap-size-small));
					border: none;
					background-color: var(--medium-teal);
					border-radius: calc(var(--border-radius) / 2);
					padding: var(--gap-size-small) calc(var(--font-size-medium) * 1.5) var(--gap-size-small) var(--gap-size-small);
					font-size: var(--font-size-large);
					color: var(--dark-purple);
					font-family: var(--font-handwriting);
					outline: none;
					transition: var(--transition-time);
					box-sizing: border-box;
					line-height: var(--line-height);
					text-align: center;
				}

					#filters-search::placeholder {
						opacity: 0.5;
						color: var(--dark-purple);
						transition: var(--transition-time);
					}

					#filters-search:hover, #filters-search:focus {
						color: var(--medium-purple);
						box-shadow: 0 0 var(--shadow-size) var(--medium-purple);
					}

					#filters-search:focus::placeholder {
						opacity:0;
					}

					#filters-search[disabled] {
						box-shadow: none !important;
						cursor: default;
						color: var(--dark-purple) !important;
						width: 100%;
						padding-right: var(--gap-size-small);
						margin-left: 0;
					}

				#filters-search:placeholder-shown ~ #filters-clear {
					opacity: 0;
					pointer-events: none;
				}

				#filters-clear {
					opacity: 1;
 					font-size: calc(var(--font-size-medium) * 1.5);
					font-family: var(--font-main);
					background: transparent;
					cursor: pointer;
					outline: none;
					border: none;
					transition: var(--transition-time);
					color: var(--dark-teal);
					position: relative;
 					height: 100%;
 					width: calc(var(--font-size-medium) * 1.5);
 					margin-left: calc(-1.5 * var(--font-size-medium));
					z-index: 2;
					line-height: var(--line-height);
					box-sizing: border-box;
					vertical-align: top;
				}

					#filters-clear:hover, #filters-clear:focus {
						color: var(--medium-purple);
						text-shadow: 0 0 var(--shadow-size) var(--medium-purple);
					}

				#filters-magnifying-glass {
					height: 100%;
					width: calc(var(--font-size-medium) * 1.5);
 					margin-left: calc(-1.5 * var(--font-size-medium));
					box-sizing: border-box;
					font-size: var(--font-size-medium);
					text-align: center;
					padding: var(--gap-size-small) var(--gap-size-small) 0 var(--gap-size-small);
					border: none;
					background: transparent;
					cursor: pointer;
					outline: none;
					transition: var(--transition-time);
					vertical-align: top;
					display: inline-block;
					pointer-events: none;
					opacity: 1;
				}

					#filters-search:not(:placeholder-shown) ~ #filters-magnifying-glass, #filters-search[disabled] ~ #filters-magnifying-glass {
						opacity: 0;
						pointer-events: none;
					}

					#filters-magnifying-glass svg {
						position: relative;
						top: 50%;
						transform: translateY(-50%);
						transition: var(--transition-time);
						fill: var(--dark-teal);
					}

					
				#filters-topic {
					display: none;
				}

				#filters-topic-form:not(:focus-within) #filters-suggestions {
					display: none;
				}

				#filters-suggestions:empty {
					display: none;
				}

				#filters-suggestions {
					width: 100%;
					height: auto;
					background-color: var(--medium-teal);
					box-sizing: border-box;
					padding: var(--gap-size-small);
					border-radius: 0 0 var(--border-radius) var(--border-radius);
					box-shadow: 0 var(--shadow-size) var(--shadow-size) var(--dark-purple);
				}

					.filter-topic-suggestion {
						width: 100%;
						background-color: var(--white);
						color: var(--dark-teal);
						font-family: var(--font-handwriting);
						font-size: calc(var(--font-size-medium));
						padding: 0 var(--gap-size-small) 0 var(--gap-size-small);
						border-radius: 0;
						border-style: solid;
						border-color: var(--medium-teal);
						outline: none;
						cursor: pointer;
						transition: var(--transition-time);
						text-align: left;
						white-space: pre;
					}

						.filter-topic-suggestion:last-child {
							border-radius: 0 0 calc(var(--border-radius) / 2) calc(var(--border-radius) / 2);
						}

						.filter-topic-suggestion:focus, .filter-topic-suggestion:hover {
							background-color: var(--medium-teal);
							color: var(--medium-purple);
						}


			#filters-bar {
				width: 100%;
				background-color: var(--medium-teal);
				height: var(--gap-size-large);
			}

/* CONTENT */
	#content {
		transition: var(--transition-time);
		box-sizing: border-box;
		overflow-x: hidden;
		overflow-y: auto;
		height: var(--gap-size-large);
		width: 100%;
		padding: 0 var(--gap-size-large) 0 calc(var(--gap-size-large) + var(--gap-size-medium));
		text-align: center;
		opacity: 0;
		scrollbar-color: var(--dark-purple) transparent;
	}

		#content::-webkit-scrollbar {
			background-color: transparent;
			width: var(--gap-size-medium);
		}

		#content::-webkit-scrollbar-thumb {
			height: calc(var(--font-size-large) * 2);
			background-color: var(--dark-purple);
			border-radius: var(--border-radius);
			border: var(--border-size) solid var(--medium-teal);
		}

		#header[collapsed] ~ #content {
			opacity: 1;
			height: calc(100% - (var(--font-size-large) + 3 * var(--gap-size-large)) - (var(--font-size-large) + 2 * var(--gap-size-small)) - var(--stream-height) - (var(--font-size-small) + 2 * var(--gap-size-small)));
			padding-bottom: var(--gap-size-large);
		}

		#content-cards {
			width: 100%;
			height: auto;
		}

		.project-card {
			background-color: var(--dark-teal);
			border-radius: var(--border-radius);
			display: inline-block;
			margin: var(--gap-size-large);
			width: calc((100vw - 2 * var(--gap-size-large) - 3 * var(--gap-size-medium)) / var(--cards-per-row) - 2 * var(--gap-size-large));
			box-sizing: border-box;
			padding: var(--gap-size-medium);
			height: auto;
			vertical-align: top;
		}

			.project-gallery {
				height: calc((100vw - 2 * var(--gap-size-large) - 3 * var(--gap-size-medium)) / var(--cards-per-row) - 2 * var(--gap-size-large) - 2 * var(--gap-size-medium));
				width: calc((100vw - 2 * var(--gap-size-large) - 3 * var(--gap-size-medium)) / var(--cards-per-row) - 2 * var(--gap-size-large) - 2 * var(--gap-size-medium));
				box-sizing: border-box;
				vertical-align: top;
				overflow: hidden;
			}

				.project-gallery-pictures {
					height: 100%;
					width: 100%;
					background-color: var(--dark-purple);
					overflow: hidden;
					border-radius: calc(var(--border-radius) / 2);
				}

					.project-gallery-picture {
						height: 100%;
						width: 100%;
						background-size: cover;
						background-repeat: no-repeat;
						background-position: center;
					}

						.project-gallery-picture:not([active="true"]) {
							display: none;
						}

				.project-gallery-arrow-left {
					height: calc(var(--font-size-small) + 2 * var(--gap-size-small));
					width: calc(var(--font-size-small) + 2 * var(--gap-size-small));
					box-sizing: border-box;
					padding: var(--gap-size-small);
					border: none;
					background-color: var(--medium-teal);
					color: var(--white);
					font-size: var(--font-size-small);
					font-family: var(--font-main);
					font-weight: bold;
					line-height: 1;
					border-radius: 100%;
					position: relative;
					top: -50%;
					left: var(--gap-size-small);
					float: left;
					transform: translateY(-50%);
					opacity: 0.5;
					cursor: pointer;
					transition: var(--transition-time);
					outline: none;
				}

				.project-gallery-arrow-right {
					height: calc(var(--font-size-small) + 2 * var(--gap-size-small));
					width: calc(var(--font-size-small) + 2 * var(--gap-size-small));
					box-sizing: border-box;
					padding: var(--gap-size-small);
					border: none;
					background-color: var(--medium-teal);
					color: var(--white);
					font-size: var(--font-size-small);
					font-family: var(--font-main);
					font-weight: bold;
					line-height: 1;
					border-radius: 100%;
					position: relative;
					top: -50%;
					right: var(--gap-size-small);
					float: right;
					transform: translateY(-50%);
					opacity: 0.5;
					cursor: pointer;
					transition: var(--transition-time);
					outline: none;
				}

					.project-gallery-arrow-right:hover, .project-gallery-arrow-right:focus, .project-gallery-arrow-left:hover, .project-gallery-arrow-left:focus {
						opacity: 1;
					}

			.project-info {
				display: block;
				height: auto;
				width: 100%;
				box-sizing: border-box;
				vertical-align: top;
			}

				.project-link, .project-link:visited {
					height: auto;
					box-sizing: border-box;
					padding: var(--gap-size-small);
					font-size: var(--font-size-small);
					font-family: var(--font-main);
					color: var(--white);
					fill: var(--white);
					background-color: var(--dark-purple);
					text-decoration: none;
					cursor: pointer;
					transition: var(--transition-time);
					border-radius: calc(var(--border-radius) / 2);
					display: block;
					line-height: 1;
					width: 100%;
					outline: none;
					margin-top: var(--gap-size-medium);
					margin-bottom: var(--gap-size-medium);
				}

					.project-link:hover, .project-link:focus {
						background-color: var(--medium-purple);
					}

					.project-name {
						font-family: var(--font-main);
						font-size: var(--font-size-medium);
						color: var(--white);
						width: 100%;
						text-align: center;
						height: auto;
						line-height: 1;
						margin: 0;
						white-space: nowrap;
						overflow: hidden;
						text-overflow: ellipsis;
					}

				.project-description {
					width: 100%;
					height: calc(var(--font-size-small) * 3 + 2 * var(--gap-size-small));
					margin-top: calc(2 * var(--gap-size-small));
					margin-bottom: 0;
					font-size: var(--font-size-small);
					font-family: var(--font-main);
					color: var(--white);
					overflow-x: hidden;
					overflow-y: auto;
					outline: none;
					scrollbar-color: var(--dark-purple) transparent;
				}

					.project-description::-webkit-scrollbar {
						background-color: transparent;
						width: var(--gap-size-medium);
					}

					.project-description::-webkit-scrollbar-thumb {
						background-color: var(--dark-purple);
						border-radius: var(--border-radius);
						border: var(--border-size) solid var(--dark-teal);
					}

					.project-description a, .project-description a:visited {
						color: var(--dark-purple);
						cursor: pointer;
						text-decoration: none;
						transition: var(--transition-time);
						outline: none;
						font-style: italic;
					}

					.project-description a:hover, .project-description a:focus {
						color: var(--medium-purple);
					}
						
		#content-empty {
			width: 100%;
			height: 100%;
			overflow: hidden;
			box-sizing: border-box;
			padding: var(--gap-size-large);
		}

		#content-cards:not(:empty) ~ #content-empty {
			display: none;
		}

			#content-empty-content {
				transform: translateX(-50%) translateY(-50%);
				position: relative;
				left: 50%;
				top: 50%;
				overflow: hidden;
			}

			#content-empty-main-message {
				font-family: var(--font-main);
				font-size: var(--font-size-large);
				color: var(--dark-purple);
				font-weight: bold;
				user-select: none;
			}

			#content-empty-secondary-message {
				font-family: var(--font-main);
				font-size: var(--font-size-medium);
				color: var(--dark-purple);
				user-select: none;
			}

			#content-empty-all-projects-message {
				font-family: var(--font-main);
				font-size: var(--font-size-medium);
				color: var(--dark-purple);
				font-weight: bold;
				user-select: none;
			}

			#content-empty-all-projects-button {
				font-size: var(--font-size-medium);
				font-family: var(--font-main);
				margin: 0 !important;
				padding: var(--gap-size-small) !important;
			}

			.content-empty-button {
				background-color: var(--dark-purple);
				color: var(--white);
				font-family: var(--font-handwriting);
				font-size: var(--font-size-medium);
				border-radius: var(--border-radius);
				border: none;
				padding: var(--gap-size-small) var(--gap-size-medium) var(--gap-size-small) var(--gap-size-small);
				margin: var(--gap-size-medium);
				height: auto;
				cursor: pointer;
				outline: none;
				transition: var(--transition-time);
			}

				.content-empty-button:hover, .content-empty-button:focus {
					background-color: var(--medium-purple);

				}


/* FOOTER */
	#footer {
		height: auto;
		background-color: var(--dark-teal);
		filter: drop-shadow(0 0 var(--shadow-size) var(--dark-purple));
	}

		#stream {
			background-color: var(--light-teal);
			width: 100%;
			height: var(--stream-height);
		}

		#copyright {
			width: 100%;
			height: calc(var(--font-size-small) + 2 * var(--gap-size-small));
			text-align: center;
			font-family: var(--font-main);
			color: var(--dark-purple);
			font-size: var(--font-size-small);
			user-select: none;
			padding: var(--gap-size-small);
			box-sizing: border-box;
		}


/* MOBILE */
	@media screen and (max-width: 800px) {
		#about {
			height: calc(100vh - (var(--font-size-large) * 2 + 2 * var(--gap-size-large)) - (var(--gap-size-large) * 2) - (var(--font-size-large) + 2 * var(--gap-size-small)) - var(--stream-height) - (var(--font-size-small) + 2 * var(--gap-size-small)));
		}

			#about-images {
				display: none;
			}

			#about-description {
				height: calc(100% - var(--font-size-medium) - var(--gap-size-large) * 3);
			}

		#filters {
			position: relative;
			top: 0;
			left: 0;
			height: calc(var(--font-size-large) * 2 + 2 * var(--gap-size-small) + var(--gap-size-large));
		}

			#filters-medium-form {
				display: block;
				margin: auto auto;
			}

			#filters-medium-form:focus-within ~ #filters-of-outer {
				opacity: 0;
			}

			#filters-medium-current {
				font-size: calc(var(--font-size-large) * 0.75);
			}

			#filters-medium-options {
				position: relative;
				top: 0;
				left: 0;
				z-index: 10;
			}

			.filter-medium-suggestion {
				text-align: left;
			}

			#filters-of-outer {
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translateX(-50%) translateY(-50%);
				z-index: 3;
				display: block;
			}

			#filters-of-inner {
				background: transparent;
			}

			#filters-search {
				font-size: calc(var(--font-size-large) * 0.75);
				padding: var(--gap-size-small) calc(var(--font-size-medium) * 1.5) var(--gap-size-small) calc(var(--font-size-medium) * 1.5) !important;
			}

			#filters-topic-form {
				border-radius: 0;
				display: block;
				margin: auto auto;
			}

		#header[collapsed="true"] ~ #content {
			height: calc(100% - (var(--font-size-large) * 2 + 3 * var(--gap-size-large)) - (var(--font-size-large) + 2 * var(--gap-size-small)) - var(--stream-height) - (var(--font-size-small) + 2 * var(--gap-size-small)));
		}

		#content {
			padding-left: 0;
			padding-right: 0;
			scrollbar-width: none;
		}

		#content::-webkit-scrollbar {
			display: none;
		}

		#content-empty-main-message {
			font-size: calc(var(--font-size-large) * 0.75);
		}

		#content-empty-secondary-message {
			font-size: calc(var(--font-size-medium) * 0.75);
		}

		#content-empty-all-projects-message {
			font-size: calc(var(--font-size-medium) * 0.75);
		}

		#content-empty-all-projects-button {
			font-size: calc(var(--font-size-medium) * 0.75);
		}
	}






















