body {
	margin: 0px;
	padding: 0px;
	background-color: #dcf2dc;
}

canvas {
	border: 40px solid #823c0e;
	height: 84vh;
	width: 56vh;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translateX(-50%) translateY(-50%);
}