body {
	margin: 0px;
}

#header {
	text-align: center;
}

#header .title {
	font-size: 62px;
}

#header .subtitle {
	font-size: 18px;
}

#content {
	font-size: 14px;
	padding: 10px;
}

/*#Elizabeth {
	font-family: Roboto Condensed;
}

#James {
	font-family: Courier New;
}*/

.elizabeth {
	font-family: Roboto Condensed;
	text-align: left;
	background-color: #832c9c;
	color: white;
}

.james {
	font-family: Courier New;
	text-align: right;
	background-color: black;
	color: white;
}

.poem {
	padding: 10px;
}

.poem .title {
	font-size: 20px;
	font-weight: bold;
}

.poem .author {
	font-style: italic;
}

.poem .date {
	font-family: monospace;
}

.poem .text {
	padding-top: 10px;
}