body {
	background-color: black;
}

source {
	display: none;
}

button {
	float: left;
	height: calc(50% - 10px);
	width: calc(((100vw - 30px) / 4) - 30px);
	margin: 5px 15px 5px 15px; 
	border: 5px;
	border-radius: 50px;
	background-color: #101723;
	color: white;
	font-size: 42px;
	font-family: Bangers;
	text-overflow: ellipsis;
	overflow: hidden;
	outline: none;
	cursor: pointer;
}

button:hover {
	box-shadow: 0px 0px 50px white;
}

.category {
	border-width: 2px;
	border-radius: 10px;
	border-style: solid;
	width: calc(100vw - 30px);
	height: 30vh;
	min-height: 60px;
	margin: 5px 0px 5px 0px;
}

#lasers {
	background-image: linear-gradient(to right, white, red, maroon);
}

#ship {
	background-image: linear-gradient(to right, yellow, darkorange);
}

#robots {
	background-image: linear-gradient(to right, lightblue, darkblue);
}


