body {
	position: absolute;
	top: 0px;
	left: 0px;
	margin: 0px;
	height: 100%;
	width: 100%;
	font-family: Roboto Condensed;
}

input {
	float: left;
	font-family: Roboto Condensed;
	font-size: 24px;
	margin: 20px 30px 20px 30px;
	text-align: center;
}

#left {
	float: left;
	width: 300px;
	height: 100vh;
	background-color: pink;
}

	.settingCoordinates {
		float: left;
		margin: 20px 45px 20px 45px;
		text-align: center;
		min-height: 30px;
		min-width: 60px;
		background-color: green;
		font-size: 24px;
	}

	#scaleInput {
		width: 280px;
		margin: 10px;
	}

	#pathsList {
		float: left;
		height: calc(100vh - 200px);
		width: calc(300px - 20px);
		margin: 10px;
		background-color: orange;
		overflow-x: hidden;
		overflow-y: scroll;
	}

		.coordinatesContainer {
			margin: 5px;
			border: 3px solid black;
		}

#right{
	float: left;
	width: calc(100vw - 300px);
	height: 100vh;
	background-color: blue;
	overflow-x: scroll;
	overflow-y: scroll;
	text-align: center;
}
	
	#canvas {
		background-color: white;
		margin: 10px;
		cursor: move;
	}

