/*** page ***/
	html, body {
		position: absolute;
		top: 0;
		left: 0;
		margin: 0;
		padding: 0;
		height: 100%;
		width: 100%;
		background-color: #8DB9E7;
		font-family: 'Roboto Condensed', sans-serif;
	}

	/* scrollbars */
		::-webkit-scrollbar {
			height: 0 !important;
			width: 0 !important;
		}

		::-moz-scrollbar {
			height: 0 !important;
			width: 0 !important;
		}

		::-ms-scrollbar {
			height: 0 !important;
			width: 0 !important;
		}

		::-o-scrollbar {
			height: 0 !important;
			width: 0 !important;
		}

		* {
			scrollbar-width: none;
		}

/*** list ***/
	#list {
		float: left;
		width: calc(100vw - 100px);
		height: calc(3 / 4 * (100vw - 100px));
		max-height: calc(100vh - 100px);
		overflow-x: scroll;
		overflow-y: hidden;
		scroll-behavior: smooth;
		scroll-snap-type: x mandatory;
		display: flex;
		border-radius: 3px;
		box-sizing: border-box;
		border: 5px solid black;
		border-bottom-width: 0;
		/*border: 20px ridge #823c0e;*/
		background-color: black;
		margin-bottom: 20px;
	}

	.image-block {
		float: left;
		display: inline-block;
		box-sizing: border-box;
		height: 100%;
		width: 100%;
		scroll-snap-align: start;
		flex-shrink: 0;
		background-color: transparent;
		background-position: center;
		background-size: contain;
		background-repeat: no-repeat;
	}

	.image-block-text {
		position: relative;
		top: calc(100% - 50px);
		height: 50px;
		text-align: center;
		font-size: 35px;
		color: white;
		text-shadow: 0 0 5px black;
	}

/*** heading ***/
	#heading {
		float: left;
		margin: 10px 0 10px 0;
		height: 50px;
		width: 100vw;
		font-size: 50px;
		color: white;
		text-align: center;
		line-height: 1;
		text-shadow: 0 0 5px gray;
	}

/*** arrows ***/
	.list-arrow {
		float: left;
		width: 50px;
		height: calc(3 / 4 * (100vw - 100px));
		max-height: calc(100vh - 100px);
		box-sizing: border-box;
		color: white;
		background-color: transparent;
		font-size: 30px;
		font-weight: bold;
		text-align: center;
		border: 0;
		cursor: pointer;
		font-family: sans-serif;
		outline: none;
	}

	.list-arrow:hover, .list-arrow:focus {
		text-shadow: 0 0 5px white;
	}

	#left-arrow {
		transform: rotate(180deg);
	}

/*** gallery links ***/
	#gallery-links {
		float: left;
		border: 0;
		width: 100vw;
		height: 200px;
		margin:  10px 0px 10px 0px;
	}
